<%- contentFor('body') %>
    <main class="container">
        <h1>Categories</h1>
        <a class="btn btn-primary" href="/dashboard/categories/new" role="button">Add</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach( (category)=> {%>
                    <tr>
                        <th scope="row"><%=category.id %></th>
                        <td><%=category.name %></td>
                        <td><%=category.description %></td>
                        <td>
                            <a href="/dashboard/categories/edit/<%=category.id %>" class="btn btn-primary">Edit</a>
                            <a href="" onclick="removeCategory(<%=category.id %>)" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    <% })%>
            </tbody>
        </table>
    </main>
    <script>
        function removeCategory(id){
            if(confirm("Do you want to remove the chosen category?")){
                fetch(`/dashboard/categories/remove/${id}`, {
                method: "POST"})
                .then((res) =>{document.location.reload()})
            }   
        }
    </script>